@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600&display=swap");
.darkheader {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-color: #ffffff;
  z-index: 99;
  border-bottom: 1px solid #e5e5e5;
}
.darkheader li, .darkheader a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
.darkheader .darknav__links {
  list-style: none;
}
.darkheader .darknav__links li {
  display: inline-block;
  padding: 0px 20px;
}
@media screen and (max-width: 1000px) {
  .darkheader .darknav__links li {
    text-align: center;
    padding: 0px 5px;
  }
}
@media screen and (max-width: 600px) {
  .darkheader .darknav__links li {
    padding: 0px 3px;
  }
}
.darkheader .darknav__links li a {
  font-weight: 600;
  color: #2c3f58;
  transition: all 0.2s ease 0s;
}
.darkheader .darknav__links li a:hover {
  color: #fe5303;
  border-bottom: 2px solid #fe5303;
}
@media screen and (max-width: 1000px) {
  .darkheader .darknav__links li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .darkheader .darknav__links li a {
    font-size: 10px;
    font-weight: 400;
  }
}

.logodarkheader {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .logodarkheader {
    width: 10%;
  }
}
@media screen and (max-width: 600px) {
  .logodarkheader {
    display: none;
  }
}

.logodarkheader-mini {
  display: none;
}
@media screen and (max-width: 600px) {
  .logodarkheader-mini {
    display: inline-block;
    width: 10%;
  }
}

.darkfooter {
  background-color: #ffffff;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 35px 5%;
  border-top: 1px solid #a9a9a9;
  z-index: 99;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .darkfooter {
    padding: 15px 3%;
  }
}
.darkfooter .darkfooter-left {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.darkfooter .darkfooter-left .logodarkfooter {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .darkfooter .darkfooter-left .logodarkfooter {
    display: none;
  }
}
.darkfooter .darkfooter-left .logodarkfooter-mini {
  display: none;
}
@media screen and (max-width: 600px) {
  .darkfooter .darkfooter-left .logodarkfooter-mini {
    display: inline-block;
    width: 10%;
  }
}
.darkfooter .darkline-footer {
  border-bottom: 1px solid #2c3f58;
  width: 50px;
  margin: 0px 30px;
  margin-bottom: 11px;
}
.darkfooter p {
  margin-top: 7px;
  color: #2c3f58;
}
.darkfooter .darkfooter-social {
  list-style: none;
}
.darkfooter .darkfooter-social li {
  display: inline-block;
  padding: 0px 20px;
}
@media screen and (max-width: 1000px) {
  .darkfooter .darkfooter-social li {
    text-align: center;
  }
}
.darkfooter .darkfooter-social li a {
  color: #a9a9a9;
  transition: all 0.3s ease 0s;
  font-size: 28px;
  text-decoration: none;
}
.darkfooter .darkfooter-social li a:hover {
  color: #2c3f58;
}
.darkfooter p {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #2c3f58;
  letter-spacing: 1px;
}

.lightheader {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-image: linear-gradient(to top, rgba(170, 178, 179, 0), #2a2b30);
  z-index: 99;
}
@media screen and (max-width: 600px) {
  .lightheader {
    background-color: #2c3f58;
    background-image: none;
  }
}
.lightheader li,
.lightheader a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
.lightheader .lightnav__links {
  list-style: none;
}
.lightheader .lightnav__links li {
  display: inline-block;
  padding: 0px 20px;
}
@media screen and (max-width: 1000px) {
  .lightheader .lightnav__links li {
    text-align: center;
    padding: 0px 5px;
  }
}
@media screen and (max-width: 600px) {
  .lightheader .lightnav__links li {
    padding: 0px 3px;
  }
}
.lightheader .lightnav__links li a {
  font-weight: 600;
  color: white;
  transition: all 0.2s ease 0s;
}
.lightheader .lightnav__links li a:hover {
  color: #fe5303;
  border-bottom: 2px solid #fe5303;
}
@media screen and (max-width: 1000px) {
  .lightheader .lightnav__links li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .lightheader .lightnav__links li a {
    font-size: 10px;
    font-weight: 400;
  }
}

.logolightheader {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .logolightheader {
    width: 10%;
  }
}
@media screen and (max-width: 600px) {
  .logolightheader {
    display: none;
  }
}

.logolightheader-mini {
  display: none;
}
@media screen and (max-width: 600px) {
  .logolightheader-mini {
    display: inline-block;
    width: 10%;
  }
}

.lightfooter {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 35px 5%;
  border-top: 1px solid #ffffff;
  z-index: 99;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .lightfooter {
    background-color: #2c3f58;
    padding: 15px 3%;
  }
}
.lightfooter .lightfooter-left {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.lightfooter .lightfooter-left .logolightfooter {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .lightfooter .lightfooter-left .logolightfooter {
    display: none;
  }
}
.lightfooter .lightfooter-left .logolightfooter-mini {
  display: none;
}
@media screen and (max-width: 600px) {
  .lightfooter .lightfooter-left .logolightfooter-mini {
    display: inline-block;
    width: 10%;
  }
}
.lightfooter .lightline-footer {
  border-bottom: 1px solid #ffffff;
  width: 50px;
  margin: 0px 30px;
  margin-bottom: 11px;
}
.lightfooter p {
  margin-top: 7px;
}
.lightfooter .lightfooter-social {
  list-style: none;
}
@media screen and (max-width: 600px) {
  .lightfooter .lightfooter-social {
    text-align: left;
    overflow: hidden;
  }
}
.lightfooter .lightfooter-social li {
  display: inline-block;
  padding: 0px 20px;
}
@media screen and (max-width: 600px) {
  .lightfooter .lightfooter-social li {
    float: right;
  }
}
.lightfooter .lightfooter-social li a {
  color: #ffffff;
  transition: all 0.3s ease 0s;
  font-size: 28px;
  text-decoration: none;
}
.lightfooter .lightfooter-social li a:hover {
  color: #fe5303;
}
.lightfooter p {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
}

.error-bg {
  background-image: url("/../Sochi/assets/404/beachbg.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-404 {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-404 img {
  width: 100%;
  padding-bottom: 30px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.container-404 a {
  font-weight: 500;
  padding-bottom: 30px;
  color: #ffffff;
}
.container-404 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-bottom: 30px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .container-404 p {
    font-size: 12px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.contact-bg {
  background-color: #ffffff;
}

.content-news {
  padding: 20px 20%;
}
@media screen and (max-width: 1000px) {
  .content-news {
    padding: 0 10%;
  }
}
.content-news h1 {
  margin-top: 155px;
  font-size: 76px;
  color: #2c3f58;
  padding-bottom: 0px;
}
@media screen and (max-width: 1000px) {
  .content-news h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .content-news h1 {
    font-size: 30px;
  }
}
.content-news p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(44, 63, 88, 0.6);
  margin-top: 25px;
}
@media screen and (max-width: 1000px) {
  .content-news p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .content-news p {
    font-size: 10px;
  }
}

.clicky {
  cursor: pointer;
  font-weight: 600;
  color: #2c3f58;
  font-size: 17px;
  transition: all 0.2s ease 0s;
}

.active,
.clicky:hover {
  color: #fe5303;
  border-bottom: 2px solid #fe5303;
}

.news__links {
  padding-top: 40px;
  list-style: none;
}
.news__links li {
  display: inline-block;
  padding-right: 50px;
  padding-left: 5px;
}
@media screen and (max-width: 1000px) {
  .news__links li {
    padding-right: 20px;
  }
}
@media screen and (max-width: 600px) {
  .news__links li {
    padding: 0px 3px;
  }
}
@media screen and (max-width: 1000px) {
  .news__links li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .news__links li a {
    font-size: 12px;
  }
}
.news__links li,
.news__links a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.grid-news {
  min-height: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: 400px;
  grid-gap: 75px 75px;
  padding: 0px 20%;
  margin-left: auto;
}
@media screen and (max-width: 1000px) {
  .grid-news {
    grid-template-columns: auto;
    padding: 0px 10%;
  }
}
.grid-news .box-news {
  display: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 35px 0;
  font-size: 24px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  color: #2c3f58;
  width: 500px;
  height: 360px;
}
.grid-news .box-news img {
  width: 100%;
  height: 100%;
}
.grid-news .box-news p {
  padding: 20px 6%;
}
.grid-news .box-news a h3 {
  background-color: #ffffff;
  position: absolute;
  bottom: 35px;
  left: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  width: 50%;
  height: 15%;
  padding: 20px 40px;
  color: #2c3f58;
}
.grid-news .box-news a h3:hover {
  width: 100%;
  transition: all 0.2s ease 0s;
  background-color: #f8f8f8;
}
.grid-news .box-news a h3 span {
  font-weight: 500;
  color: #a9acb5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20%;
}
@media screen and (max-width: 1000px) {
  .row {
    padding: 0 10%;
  }
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 0%;
  display: none;
  padding-right: 2%;
}

.column img {
  margin-top: 8%;
  vertical-align: middle;
  width: 100%;
}

.noContent {
  color: #ffffff;
  background-color: #2c3f58 !important;
  pointer-events: none;
  width: 250px;
}

.hover-gallery {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.9) 95%, black 100%);
}
.hover-gallery .gallery-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.hover-gallery .hover-gallery-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
}
.hover-gallery .hover-gallery-text h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 17px;
}
.hover-gallery .hover-gallery-text p {
  margin: 10px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-gallery:hover .gallery-img {
  opacity: 0.6;
}

.hover-gallery:hover .hover-gallery-text {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.contact-bg {
  background-color: #ffffff;
  position: relative;
}

.googlemaps {
  width: 100%;
  height: 650px;
}
@media screen and (max-width: 1250px) {
  .googlemaps {
    height: 450px;
  }
}

.content-contact {
  padding: 30px 15%;
}
@media screen and (max-width: 1250px) {
  .content-contact {
    padding: 30px 10%;
  }
}
@media screen and (max-width: 1000px) {
  .content-contact {
    padding: 30px 8%;
  }
}
@media screen and (max-width: 600px) {
  .content-contact {
    padding: 10px 5%;
  }
}
.content-contact h1 {
  margin-top: 150px;
  font-size: 76px;
  color: #2c3f58;
}
@media screen and (max-width: 1250px) {
  .content-contact h1 {
    font-size: 56px;
  }
}
@media screen and (max-width: 600px) {
  .content-contact h1 {
    font-size: 36px;
    margin-top: 125px;
  }
}
.content-contact ul {
  padding: 75px 0px;
  display: flex;
  flex-flow: row wrap;
}
.content-contact ul li {
  flex-direction: row;
  list-style: none;
}
@media screen and (max-width: 600px) {
  .content-contact ul li {
    width: 100%;
  }
  .content-contact ul li + li {
    margin-top: 20px;
  }
}
.content-contact ul li h2 {
  color: #2c3f58;
  font-size: 26px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1250px) {
  .content-contact ul li h2 {
    font-size: 20px;
  }
}
.content-contact ul li p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #72809d;
}
@media screen and (max-width: 1250px) {
  .content-contact ul li p {
    font-size: 13px;
  }
}
.content-contact ul .contact-class {
  padding-left: 75px;
  padding-right: 150px;
}
@media screen and (max-width: 1250px) {
  .content-contact ul .contact-class {
    padding-left: 25px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 600px) {
  .content-contact ul .contact-class {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.orange-btn {
  padding: 13px 35px;
  background-color: #fe5303;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}
.orange-btn:hover {
  background-color: rgba(254, 83, 3, 0.8);
}
@media screen and (max-width: 1000px) {
  .orange-btn {
    padding: 7px 14px;
    font-size: 8px;
    letter-spacing: 0px;
  }
}

.orange-btn-apts {
  padding: 12px 35px;
  background-color: #fe5303;
  border: none;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease 0s;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  font-size: 14px;
  width: 90%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}
.orange-btn-apts:hover {
  background-color: rgba(254, 83, 3, 0.8);
}
@media screen and (max-width: 1000px) {
  .orange-btn-apts {
    padding: 7px 14px;
    font-size: 8px;
    letter-spacing: 0px;
  }
}

.white-res-btn {
  padding: 13px 35px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 16px 48px 0 rgba(255, 255, 255, 0.16);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #fe5303;
  letter-spacing: 1px;
  cursor: pointer;
}
.white-res-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1000px) {
  .white-res-btn {
    padding: 7px 14px;
    font-size: 8px;
    letter-spacing: 0px;
  }
}

.darkreserv i,
.lightreserv i {
  margin-right: 8px;
}

@media screen and (max-width: 600px) {
  .darkreserv,
.lightreserv {
    display: none;
    border-radius: 5%;
  }
}

.darkreserv-small,
.lightreserv-small {
  display: none;
}
@media screen and (max-width: 600px) {
  .darkreserv-small,
.lightreserv-small {
    display: inline-block;
  }
}

.nxt-orange-btn {
  height: 50px;
  width: 50px;
  background-color: #fe5303;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
}
.nxt-orange-btn:hover {
  background-color: rgba(254, 83, 3, 0.8);
}

.homepage-btn {
  padding: 13px 35px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.homepage-btn:hover {
  background-color: rgba(42, 43, 48, 0.9);
}
@media screen and (max-width: 1000px) {
  .homepage-btn {
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 0px;
  }
}

#loadMore {
  padding: 13px 35px;
  background-color: #fe5303;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 175px;
  margin: 75px auto;
  letter-spacing: 1px;
}
#loadMore:hover {
  background-color: rgba(254, 83, 3, 0.8);
}

.video-box {
  width: 100%;
  margin: 100px auto;
  position: relative;
}
.video-box video {
  width: 100%;
}
.video-box .play-btn {
  background-color: #ffffff;
  color: #2c3f58;
  font-size: 25px;
  width: 150px;
  height: 150px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  position: absolute;
  margin: auto;
  text-align: center;
  border-radius: 50%;
}
.video-box .play-btn i.fa-play {
  line-height: 150px;
  margin-left: 10px;
}
.video-box .play-btn::before, .video-box .play-btn::after {
  content: "";
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 50%;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  animation-name: animate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.video-box .play-btn::after {
  animation-delay: 0.5s;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

.container-post {
  padding: 20px 15%;
}
@media screen and (max-width: 1750px) {
  .container-post {
    padding: 20px 9%;
  }
}
@media screen and (max-width: 1400px) {
  .container-post {
    padding: 17px 8%;
  }
}
@media screen and (max-width: 1250px) {
  .container-post {
    padding: 15px 6%;
  }
}
@media screen and (max-width: 1000px) {
  .container-post {
    padding: 13px 3%;
  }
}
@media screen and (max-width: 600px) {
  .container-post {
    padding: 10px 1%;
  }
}

.container-post {
  color: #2c3f58;
}

.small-line-post {
  border-bottom: 1px solid #2c3f58;
  padding: 0px 2%;
  margin: 1% 48%;
}

#top-bottom-post {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#top-bottom-post h1 {
  padding: 35px 0px;
}
#top-bottom-post span {
  color: #a9acb5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.title-post {
  padding: 0px 7%;
  margin-top: 10%;
}

.next-post {
  padding: 0px 25%;
  margin: 4% 0;
}
.next-post h3 {
  padding: 35px 0px;
}
.next-post .nxt-orange-btn .fa-arrow-right {
  font-size: 14px;
}

.img-cruise {
  margin: 3% 0;
  width: 100%;
}

.sidebar-social {
  position: absolute;
  top: 160%;
}
.sidebar-social .list-sidebar-social li {
  list-style: none;
}
.sidebar-social .list-sidebar-social li a {
  text-decoration: none;
}
.sidebar-social .list-sidebar-social li a h4 {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  color: #a9acb5;
  transform: rotate(270deg);
  transform-origin: 0 0;
  margin-left: 3%;
}
.sidebar-social .list-sidebar-social li a i {
  margin: 10px 0;
  font-size: 25px;
  color: #a9acb5;
}
.sidebar-social .list-sidebar-social li .sharing-line {
  border-left: 1px solid #a9acb5;
  height: 35px;
  margin-left: 24%;
  margin-bottom: 15px;
}

.content-post {
  padding: 0px 7%;
  padding-bottom: 5%;
  line-height: 1.8;
}
.content-post .bold-text-part {
  color: #2c3f58;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.content-post p {
  padding: 0px 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(44, 63, 88, 0.8);
}
.content-post p br {
  display: block;
  margin: 30px 0;
  content: " ";
}
.content-post span {
  padding: 0px 10%;
}
.content-post h3 {
  padding: 0px 10%;
  padding-bottom: 2%;
  font-size: 32px;
}
.content-post .page-quote {
  padding: 4% 0;
  padding-left: 10%;
}
.content-post .page-quote p {
  font-size: 24px;
  font-family: "Playfair Display", "sans-serif";
  font-weight: 400;
  border-left: 2px solid #fe5303;
  margin-bottom: 2%;
  padding-left: 3%;
}
.content-post .page-quote span {
  font-family: "Poppins", "sans-serif";
  font-size: 18px;
  color: #72809d;
  padding: 0;
  padding-left: 3%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homepage-container {
  width: 100%;
  position: relative;
}

.bg-homepage-img {
  max-width: 100%;
}
.bg-homepage-img img {
  position: absolute;
  width: 100%;
  background-size: cover;
}

.homepage-header {
  position: relative;
  padding: 0px 20%;
  padding-top: 275px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1250px) {
  .homepage-header {
    padding: 13% 10%;
  }
}
.homepage-header p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
}
.homepage-header h1 {
  padding: 1% 0;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
@media screen and (max-width: 1400px) {
  .homepage-header h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1250px) {
  .homepage-header h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .homepage-header h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .homepage-header h1 {
    font-size: 30px;
  }
}
.homepage-header .video-box {
  margin: 50px auto;
}
.homepage-header .video-box span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.homepage-header .video-box .play-btn {
  width: 50px;
  height: 50px;
  font-size: 8px;
  left: 125px;
  right: 0px;
  bottom: 0px;
  top: -10px;
  position: absolute;
  margin: 0px;
}
.homepage-header .video-box .play-btn i.fa-play {
  line-height: 50px;
  margin-left: 2px;
}

#title-homepage-container {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#title-homepage-container h1 {
  width: 70%;
  padding: 5px 0px;
  color: #2c3f58;
}
#title-homepage-container span {
  color: #a9acb5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.about-homepage {
  position: relative;
  padding: 0px 20%;
  margin-top: 5%;
  background-color: #ffffff;
}
@media screen and (max-width: 1000px) {
  .about-homepage {
    padding: 0px 5%;
  }
}

.some-page-wrapper {
  width: 100%;
  padding: 0% 18.5%;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 200px;
}
@media screen and (max-width: 1000px) {
  .some-page-wrapper {
    padding: 0% 8%;
  }
}
.some-page-wrapper .row-hp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.some-page-wrapper .column-hp {
  color: #2c3f58;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 3%;
}
.some-page-wrapper .orange-column {
  height: 75px;
  width: 100%;
}
.some-page-wrapper .orange-column img {
  width: 100%;
}
.some-page-wrapper .blue-column {
  height: 75px;
}
.some-page-wrapper .green-column {
  height: 400px;
  width: 100%;
  position: relative;
}
.some-page-wrapper .green-column img {
  width: 100%;
  height: auto;
}
.some-page-wrapper .green-column a {
  position: absolute;
  background-color: #ffffff;
  bottom: -250px;
  right: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  width: 40%;
  height: 25%;
  padding: 40px 30px;
  color: #2c3f58;
}
.some-page-wrapper .green-column a i {
  margin-left: 20px;
}
.some-page-wrapper .green-column a:hover {
  width: 100%;
  transition: all 0.2s ease 0s;
  background-color: #f8f8f8;
  text-align: center;
}

.orng-book {
  width: 100px;
  height: 50px;
}

.booking-box {
  position: relative;
  background-color: #ffffff;
  padding-top: 0%;
  padding-bottom: 1%;
  padding-left: 20%;
  padding-right: 0%;
  width: 80%;
}
@media screen and (max-width: 1400px) {
  .booking-box {
    padding-left: 10%;
    width: 100%;
  }
}
@media screen and (max-width: 1250px) {
  .booking-box {
    padding-left: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .booking-box {
    padding-left: 2%;
  }
}
@media screen and (max-width: 600px) {
  .booking-box {
    padding-left: 1%;
  }
}
.booking-box .check-in-out ul .book-now-btn {
  width: 13%;
  height: 10%;
  background-color: #fe5303;
  padding: 20px;
}
.booking-box .check-in-out ul .book-now-btn span {
  color: #ffffff;
}
.booking-box .check-in-out ul .book-now-btn a i {
  color: #ffffff;
}
.booking-box .check-in-out ul .book-now-btn p {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.booking-box .check-in-out ul li {
  display: inline-block;
  margin-right: 125px;
}
@media screen and (max-width: 1750px) {
  .booking-box .check-in-out ul li {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1250px) {
  .booking-box .check-in-out ul li {
    margin-right: 90px;
  }
}
@media screen and (max-width: 1000px) {
  .booking-box .check-in-out ul li {
    margin-right: 50px;
  }
}
@media screen and (max-width: 600px) {
  .booking-box .check-in-out ul li {
    margin-right: 0px;
  }
}
.booking-box .check-in-out ul li span {
  color: #a9acb5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}
@media screen and (max-width: 1750px) {
  .booking-box .check-in-out ul li span {
    font-size: 10px;
  }
}
@media screen and (max-width: 1250px) {
  .booking-box .check-in-out ul li span {
    font-size: 9px;
  }
}
@media screen and (max-width: 1000px) {
  .booking-box .check-in-out ul li span {
    font-size: 8px;
  }
}
@media screen and (max-width: 600px) {
  .booking-box .check-in-out ul li span {
    font-size: 7px;
  }
}
.booking-box .check-in-out ul li a {
  text-decoration: none;
}
.booking-box .check-in-out ul li p {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #2c3f58;
}
@media screen and (max-width: 1750px) {
  .booking-box .check-in-out ul li p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1250px) {
  .booking-box .check-in-out ul li p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .booking-box .check-in-out ul li p {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .booking-box .check-in-out ul li p {
    font-size: 12px;
  }
}
.booking-box .check-in-out ul li i {
  color: #a9acb5;
  margin-left: 13px;
}

.lt-grid-container {
  padding: 3% 20%;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 250px);
  gap: 20px 20px;
  grid-template-areas: "lt-big-pic lt-big-pic lt-top-right" "lt-bottom-left lt-bottom-center lt-bottom-right";
}
@media screen and (max-width: 1400px) {
  .lt-grid-container {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
  }
}
@media screen and (max-width: 1250px) {
  .lt-grid-container {
    padding: 3% 5%;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 150px);
  }
}
@media screen and (max-width: 1000px) {
  .lt-grid-container {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 100px);
  }
}
@media screen and (max-width: 600px) {
  .lt-grid-container {
    grid-template-columns: repeat(2, 175px);
    grid-template-rows: repeat(3, 80px);
  }
}

.lt-big-pic {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: lt-big-pic;
}

.lt-bottom-left {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lt-bottom-left;
}

.lt-bottom-center {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: lt-bottom-center;
}

.lt-bottom-right {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: lt-bottom-right;
}

.lt-top-right {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: lt-top-right;
}

.rooms__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.lt-grid-container {
  width: 100%;
}
.lt-grid-container .bottom-left-box {
  position: relative;
}
.lt-grid-container .bottom-left-box:hover {
  box-shadow: 15px 15px 15px #a9acb5;
  opacity: 0.6;
}
.lt-grid-container .bottom-left-box .popular-index {
  position: absolute;
  top: 5%;
  right: 3%;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 75px;
  height: 25px;
}
.lt-grid-container .bottom-left-box .popular-index p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 10px;
  padding: 5px 0px;
  text-align: center;
}
.lt-grid-container .bottom-left-box a {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}
.lt-grid-container .bottom-left-box a .big-rooms-box-title-index {
  margin: 4% 5%;
}
.lt-grid-container .bottom-left-box a .big-rooms-box-title-index h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.lt-grid-container .bottom-left-box a .big-rooms-box-title-index .price-tag-big-box-index {
  margin-top: 1%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.lt-grid-container .bottom-left-box a .big-rooms-box-title-index .price-tag-big-box-index p {
  margin-right: 3%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.lt-grid-container .bottom-left-box a .big-rooms-box-title-index .price-tag-big-box-index span {
  bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.middle-text-homepage {
  padding: 5% 20%;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  color: #2c3f58;
  font-size: 24px;
  width: 70%;
}

.stats-and-numbers {
  position: relative;
  background-color: #ffffff;
  padding: 0% 20%;
  padding-bottom: 5%;
}
.stats-and-numbers .list-stats ul li {
  display: inline-block;
  margin-right: 100px;
}
.stats-and-numbers .list-stats ul li span {
  color: #a9acb5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}
.stats-and-numbers .list-stats ul li p {
  font-size: 76px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  color: #2c3f58;
}

.room-adventure {
  background-color: rgba(244, 244, 244, 0.6);
  padding: 5% 20%;
}
.room-adventure .room-adventure-box {
  display: grid;
  align-items: center;
  width: 100%;
  background-color: #fe5303;
  padding: 50px 60px;
}
.room-adventure .room-adventure-box .left-part-adv {
  grid-column: 1;
  width: 70%;
}
.room-adventure .room-adventure-box .left-part-adv h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 38px;
  margin-bottom: 20px;
}
.room-adventure .room-adventure-box .left-part-adv p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
}
.room-adventure .room-adventure-box .right-part-adv {
  grid-column: 2;
  justify-items: center;
}

.container-rooms {
  padding: 100px 20%;
}
@media screen and (max-width: 1750px) {
  .container-rooms {
    padding: 90px 15%;
  }
}
@media screen and (max-width: 1400px) {
  .container-rooms {
    padding: 80px 12%;
  }
}
@media screen and (max-width: 1250px) {
  .container-rooms {
    padding: 70px 9%;
  }
}
@media screen and (max-width: 1000px) {
  .container-rooms {
    padding: 50px 5%;
  }
}
@media screen and (max-width: 600px) {
  .container-rooms {
    padding: 30px 1%;
  }
}

.container-rooms-flex {
  align-items: center;
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
}

.title-rooms-page h1 {
  padding: 0% 20%;
  padding-top: 10%;
  font-size: 60px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  color: #2c3f58;
}
@media screen and (max-width: 1750px) {
  .title-rooms-page h1 {
    padding: 0% 15%;
    padding-top: 11%;
  }
}
@media screen and (max-width: 1400px) {
  .title-rooms-page h1 {
    padding: 0% 12%;
    padding-top: 12%;
  }
}
@media screen and (max-width: 1250px) {
  .title-rooms-page h1 {
    padding: 0% 9%;
    padding-top: 13%;
  }
}
@media screen and (max-width: 1000px) {
  .title-rooms-page h1 {
    padding: 0% 5%;
    padding-top: 14%;
  }
}
@media screen and (max-width: 600px) {
  .title-rooms-page h1 {
    padding: 0% 1%;
    padding-top: 22%;
  }
}

.box-rooms-flex {
  width: 31%;
  height: 350px;
  background: #ffffff;
  border-radius: 6px;
  outline: 1px solid #ffffff;
  margin: 1%;
  cursor: pointer;
}
@media screen and (max-width: 1250px) {
  .box-rooms-flex {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .box-rooms-flex {
    width: 100%;
  }
}
.box-rooms-flex .img-wrapper {
  position: relative;
}
.box-rooms-flex .img-wrapper img {
  width: 100%;
  display: block;
  height: 28vh;
}
.box-rooms-flex a {
  position: absolute;
  bottom: 8%;
  left: 5%;
  color: #ffffff;
  text-decoration: none;
}
.box-rooms-flex a h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.box-rooms-flex a .price-tag {
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.box-rooms-flex a .price-tag p {
  margin-right: 5%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.box-rooms-flex a .price-tag span {
  bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.box-rooms-flex .stats-rooms {
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #2c3f58;
}
.box-rooms-flex .stats-rooms img {
  margin-right: 10px;
}
.box-rooms-flex .stats-rooms .bed-icon {
  margin-left: 20px;
}

.rooms-suits-top:hover,
.box-rooms-flex:hover {
  z-index: 1;
  box-shadow: 15px 15px 15px #a9acb5;
}

.rooms-suits-top {
  margin-bottom: 40px;
}
.rooms-suits-top .big-img-rooms {
  position: relative;
}
.rooms-suits-top .big-img-rooms img {
  width: 100%;
}
.rooms-suits-top .big-img-rooms .popular {
  position: absolute;
  top: 5%;
  right: 5%;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 100px;
  height: 33px;
}
.rooms-suits-top .big-img-rooms .popular p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0px;
  text-align: center;
}
.rooms-suits-top .big-img-rooms a {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 40%;
  color: #2c3f58;
  background-color: #ffffff;
  text-decoration: none;
}
.rooms-suits-top .big-img-rooms a .big-rooms-box-title {
  margin: 5% 5%;
}
.rooms-suits-top .big-img-rooms a .big-rooms-box-title h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.rooms-suits-top .big-img-rooms a .big-rooms-box-title .price-tag-big-box {
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.rooms-suits-top .big-img-rooms a .big-rooms-box-title .price-tag-big-box p {
  margin-right: 10%;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
}
.rooms-suits-top .big-img-rooms a .big-rooms-box-title .price-tag-big-box span {
  bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.apartments-bg {
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: top;
  width: 100%;
  height: 98%;
  position: absolute;
  z-index: -2;
}

.white-box-apts {
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  width: 82.5%;
  padding: 3.6% 20%;
  position: absolute;
  z-index: -1;
}

.apts-grid-container {
  padding: 20% 20%;
  padding-bottom: 8%;
  display: grid;
  grid-template-columns: repeat(3, 300px) 345px;
  grid-template-rows: 500px 120px 275px 200px 495px repeat(6, 200px);
  gap: 1px 1px;
  grid-template-areas: ". apts-Apartments apts-Apartments ." "apts-sq-ft apts-bedrooms apts-bathroom apts-price" "apts-description apts-description apts-description apts-reservation" "apts-amenity apts-amenity apts-amenity apts-map" "apts-apartment-pics apts-apartment-pics apts-apartment-pics ." "apts-apartment-pics apts-apartment-pics apts-apartment-pics ." "apts-reviews apts-reviews apts-reviews ." "apts-review-one apts-review-one apts-review-one ." "apts-review-two apts-review-two apts-review-two ." "apts-review-three apts-review-three apts-review-three ." "apts-bottom-nav-bar-page apts-bottom-nav-bar-page apts-bottom-nav-bar-page .";
}

.apts-Apartments {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: apts-Apartments;
}
.apts-Apartments p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #2c3f58;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.apts-Apartments h1 {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #2c3f58;
}

.apts-sq-ft {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: apts-sq-ft;
  align-items: center;
  justify-items: center;
  display: flex;
  background-color: white;
}
.apts-sq-ft img,
.apts-sq-ft p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2c3f58;
}
.apts-sq-ft img {
  margin-top: 2px;
  float: left;
  margin-right: 15px;
}
.apts-sq-ft p {
  float: left;
}

.apts-bedrooms {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: apts-bedrooms;
  align-items: center;
  justify-items: center;
  display: flex;
  background-color: white;
}
.apts-bedrooms img,
.apts-bedrooms p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2c3f58;
}
.apts-bedrooms img {
  margin-top: 2px;
  float: left;
  margin-right: 15px;
}
.apts-bedrooms p {
  float: left;
}

.apts-bathroom {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: apts-bathroom;
  align-items: center;
  justify-items: center;
  display: flex;
  background-color: white;
}
.apts-bathroom img,
.apts-bathroom p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2c3f58;
}
.apts-bathroom img {
  margin-top: 2px;
  float: left;
  margin-right: 15px;
}
.apts-bathroom p {
  float: left;
}

.apts-description {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  gap: 1px 1px;
  grid-template-areas: "apts-description-title" "apts-description-content";
  grid-area: apts-description;
  padding: 50px 0px;
}
.apts-description h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #2c3f58;
}
.apts-description p {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(44, 63, 88, 0.8);
  padding-bottom: 20px;
}

.apts-description-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: apts-description-title;
}

.apts-description-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: apts-description-content;
}

.apts-amenity {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(4, 25%);
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . ." ". . ." ". . .";
  grid-area: apts-amenity;
  padding-top: 20px;
}
.apts-amenity img,
.apts-amenity p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2c3f58;
}
.apts-amenity img {
  margin-top: 2px;
  float: left;
  margin-right: 15px;
}
.apts-amenity p {
  float: left;
}

.apts-apartment-pics {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  padding-top: 40px;
  display: grid;
  gap: 1px 1px;
  grid-template-areas: ".";
  grid-area: apts-apartment-pics;
  position: relative;
}
.apts-apartment-pics img {
  border-radius: 7px;
  width: 92%;
  height: auto;
}
.apts-apartment-pics .left-right-chev {
  background-color: #ffffff;
  padding: 85px 35px;
  position: absolute;
  bottom: 50px;
  z-index: 10;
}
.apts-apartment-pics .left-right-chev i {
  color: #a9a9a9;
}
.apts-apartment-pics .left-right-chev i:hover {
  color: #2c3f58;
  font-size: 20px;
}
.apts-apartment-pics .left-right-chev .horizontal {
  position: absolute;
  display: inline-block;
  width: 20px;
  left: 20px;
  top: 62px;
  transform: rotate(-25deg);
  background-color: #ececec;
}
.apts-apartment-pics .left-chev-font {
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 0;
  height: 190px;
  border: none;
  background: none;
  cursor: pointer;
}
.apts-apartment-pics .right-chev-font {
  border: none;
  background: none;
  position: absolute;
  z-index: 2;
  left: 25px;
  top: 0;
  height: 65px;
  cursor: pointer;
}

.apts-reviews {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: apts-reviews;
}
.apts-reviews h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #2c3f58;
  padding-bottom: 40px;
}
.apts-reviews .apts-reviews-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 33.3%);
  gap: 20px 50px;
  padding-right: 14%;
  grid-template-areas: ". ." ". ." ". .";
  grid-area: apts-reviews-grid;
}
.apts-reviews .apts-reviews-grid .container-apts-reviews {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 2px;
}
.apts-reviews .apts-reviews-grid p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2c3f58;
  float: left;
  height: 10px;
  position: relative;
}
.apts-reviews .apts-reviews-grid span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #2c3f58;
  float: right;
}
.apts-reviews .apts-reviews-grid .skills {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  color: white;
}
.apts-reviews .apts-reviews-grid .comfort {
  width: 75%;
  background-color: #fe5303;
}
.apts-reviews .apts-reviews-grid .food {
  width: 63%;
  background-color: #fe5303;
}
.apts-reviews .apts-reviews-grid .facili {
  width: 86%;
  background-color: #fe5303;
}
.apts-reviews .apts-reviews-grid .location {
  width: 58%;
  background-color: #fe5303;
}
.apts-reviews .apts-reviews-grid .staff {
  width: 92%;
  background-color: #fe5303;
}
.apts-reviews .apts-reviews-grid .price-qual {
  width: 76%;
  background-color: #fe5303;
}

.review-one-container {
  border: 1px solid #a9a9a9;
  margin: 20px 0px;
  padding: 0px 35px;
  padding-top: 25px;
  padding-bottom: 70px;
  color: #2c3f58;
}
.review-one-container h4 {
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}
.review-one-container p {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 1px;
}
.review-one-container .reviews-contact-bot {
  padding-top: 20px;
}
.review-one-container .reviews-contact-bot i {
  float: left;
  background-color: #f4f4f4;
  color: #a9a9a9;
  padding: 15px;
  border-radius: 50%;
  margin-right: 25px;
}
.review-one-container .reviews-contact-bot .reviews-author {
  float: left;
}
.review-one-container .reviews-contact-bot .reviews-author p {
  font-weight: 500;
  letter-spacing: 1px;
}
.review-one-container .reviews-contact-bot .reviews-author span {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #a9a9a9;
}

.apts-review-one {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  padding-right: 8%;
  padding-top: 50px;
  grid-area: apts-review-one;
}

.apts-review-two {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  padding-right: 8%;
  padding-top: 100px;
  grid-area: apts-review-two;
}

.apts-review-three {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  padding-right: 8%;
  padding-top: 150px;
  grid-area: apts-review-three;
}

.apts-bottom-nav-bar-page {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  padding-right: 9%;
  padding-top: 250px;
  grid-area: apts-bottom-nav-bar-page;
  font-size: 0;
  vertical-align: middle;
}
.apts-bottom-nav-bar-page a .fa-arrow-left {
  float: left;
  text-decoration: none;
  color: #a9a9a9;
  background-color: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 14px;
  display: inline;
}
.apts-bottom-nav-bar-page a .fa-arrow-left:hover {
  color: #2c3f58;
  box-shadow: 0 0 10px 0 rgba(169, 169, 169, 0.5);
}
.apts-bottom-nav-bar-page a .fa-arrow-right {
  float: right;
  text-decoration: none;
  color: #a9a9a9;
  background-color: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 14px;
  display: inline;
}
.apts-bottom-nav-bar-page a .fa-arrow-right:hover {
  color: #2c3f58;
  box-shadow: 0 0 10px 0 rgba(169, 169, 169, 0.5);
}
.apts-bottom-nav-bar-page ul {
  display: inline;
  margin-left: 300px;
}
.apts-bottom-nav-bar-page ul li {
  list-style: none;
  display: inline-block;
}
.apts-bottom-nav-bar-page ul li a {
  color: #72809d;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px 10px;
}
.apts-bottom-nav-bar-page ul li a:hover {
  color: #fe5303;
}

.apts-price {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: apts-price;
  background-color: #625ef7;
  border-radius: 0px 7px 0px 0px;
}
.apts-price li {
  list-style: none;
}
.apts-price p {
  margin-top: 38px;
  margin-left: 23px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.apts-price h4 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.apts-price span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.apts-price .price-apts-tag h4 {
  float: left;
  margin-right: 23px;
  margin-left: 23px;
}
.apts-price .price-apts-tag span {
  float: left;
  margin-top: 9px;
}

.apts-reservation {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  border: 1px solid rgba(169, 172, 181, 0.2);
  border-top: 1px solid #ffffff;
  border-radius: 0px 0px 7px 7px;
  grid-area: apts-reservation;
  padding-top: 100px;
}
.apts-reservation .res-apts {
  padding: 20px;
}
.apts-reservation p {
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #2c3f58;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.apts-map {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
  grid-area: apts-map;
  padding-top: 30px;
}
.apts-map iframe {
  border-radius: 7px;
  height: 450px;
  width: 100%;
}