<footer class="darkfooter">

    <div class="darkfooter-left">

        <!-- Dark logo sochi -->
        <img class="logodarkfooter" src="../Sochi/assets/darkfooter/logo.png" alt="logodarkfooter">
        <img class="logodarkfooter-mini" src="../Sochi/assets/darkheader/mini_dark_sochi_logo.png" alt="logodarkfooter-mini">
        <!-- /Dark logo sochi -->

        <div class="darkline-footer"></div>
        <p>© 2019 Sochi Hotel</p>
    </div>
    <div class="darkfooter-right">

        <!-- Social links footer -->
        <ul class="darkfooter-social">
            <li>
                <a href="https://www.facebook.com" " class=" fab fa-facebook-square "></a>
            </li>
            <li>
                <a href="https://www.twitter.com " class="fab fa-twitter "></a>
            </li>
            <li>
                <a href="https://www.instagram.com " class="fab fa-instagram "></a>
            </li>
        </ul>
        <!-- /Social links footer -->

    </div>
</footer>