<header class="darkheader">

    <!-- Dark logo sochi -->
    <img class="logodarkheader" src="../Sochi/assets/darkheader/logo.png" alt="logodarkheader">
    <img class="logodarkheader-mini" src="../Sochi/assets/darkheader/mini_dark_sochi_logo.png" alt="logodarkheader-mini">
    <!-- /Dark logo sochi -->

    <!-- Navbar Header-->
    <nav>
        <ul class="darknav__links" id="myDIV">
            <li>
                <a class="clicky activeheader" href="../Sochi/rooms.php">Rooms</a>
            </li>
            <li>
                <a class="clicky" href="../Sochi/gallery.php">Gallery</a>
            </li>
            <li>
                <a class="clicky" href="#">About Us</a>
            </li>
            <li>
                <a class="clicky" href="../Sochi/blog.php">Blog</a>
            </li>
            <li>
                <a class="clicky" href="../Sochi/contact.php">Contact Us</a>
            </li>
        </ul>
    </nav>
    <!-- /Navbar Header-->

    <!-- Reservation buttons -->
    <a class="darkreserv" href="#"><button class="orange-btn"><i class="far fa-bookmark"></i>Reservations</button></a>
    <a class="darkreserv-small" href="#"><button class="orange-btn">R</button></a>
    <!-- /Reservation buttons -->

</header>