<footer class="lightfooter">

    <div class="lightfooter-left">

        <!-- Light logo sochi -->
        <img class="logolightfooter" src="../Sochi/assets/lightfooter/logo.png" alt="logolightfooter">
        <img class="logolightfooter-mini" src="../Sochi/assets/lightheader/mini-light-logo.png" alt="logolightfooter-mini">

        <!-- /Light logo sochi -->

        <div class="lightline-footer"></div>
        <p>© 2019 Sochi Hotel</p>
    </div>
    <div class="lightfooter-right">

        <!-- Social links footer -->
        <ul class="lightfooter-social">
            <li>
                <a href="https://www.facebook.com" class="fab fa-facebook-square"></a>
            </li>
            <li>
                <a href="https://www.twitter.com" class="fab fa-twitter"></a>
            </li>
            <li>
                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
            </li>
        </ul>
        <!-- /Social links footer -->

    </div>
</footer>