<header class="lightheader">

    <!-- Light logo sochi -->
    <img class="logolightheader" src="../Sochi/assets/lightheader/logo.png" alt="logolightheader">
    <img class="logolightheader-mini" src="../Sochi/assets/lightheader/mini-light-logo.png" alt="logolightheader-mini">
    <!-- /Light logo sochi -->

    <!-- Navbar Header-->
    <nav>
        <ul class="lightnav__links">
            <li>
                <a class="clicky active" href="../Sochi/rooms.php">Rooms</a>
            </li>
            <li>
                <a class="clicky" href="../Sochi/gallery.php">Gallery</a>
            </li>
            <li>
                <a class="clicky" href="#">About Us</a>
            </li>
            <li>
                <a class="clicky" href="../Sochi/blog.php">Blog</a>
            </li>
            <li>
                <a class="clicky" href="../Sochi/contact.php">Contact Us</a>
            </li>
        </ul>
    </nav>
    <!-- /Navbar Header-->

    <!-- Reservation buttons -->
    <a class="lightreserv" href="#"><button class="orange-btn"><i class="far fa-bookmark"></i>Reservations</button></a>
    <a class="lightreserv-small" href="#"><button class="orange-btn">R</button></a>
    <!-- /Reservation buttons -->

</header>