// Colors 
$orange: #fe5303;
$white: #ffffff;
$darkblue: #2c3f58;
$grey: #a9a9a9;
$darkgrey: #a9acb5;
// Font-family
$poppins: "Poppins",
sans-serif;
$playfairdisplay: "Playfair Display",
sans-serif;
// Font-weight
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
// Media 
$megalarge: 1750px;
$xxlarge: 1400px;
$xlarge: 1250px;
$large: 1000px;
$small: 600px;