.error-bg {
    background-image: url("/../Sochi/assets/404/beachbg.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-404 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        width: 100%;
        padding-bottom: 30px;
        color: $white;
        font-family: $poppins;
        font-weight: $regular;
    }
    a {
        font-weight: $medium;
        padding-bottom: 30px;
        color: $white;
    }
    p {
        font-family: $poppins;
        font-weight: $regular;
        padding-bottom: 30px;
        color: $white;
        @media screen and (max-width: $small) {
            font-size: 12px;
        }
    }
}