.apartments-bg {
    background-repeat: no-repeat;
    background-attachment: center;
    background-position: top;
    width: 100%;
    height: 98%;
    position: absolute;
    z-index: -2;
}

.white-box-apts {
    background-color: $white;
    bottom: 0;
    left: 0;
    width: 82.5%;
    padding: 3.6% 20%;
    position: absolute;
    z-index: -1;
}

.apts-grid-container {
    padding: 20% 20%;
    padding-bottom: 8 %;
    display: grid;
    grid-template-columns: repeat(3, 300px) 345px;
    grid-template-rows: 500px 120px 275px 200px 495px repeat(6, 200px);
    gap: 1px 1px;
    grid-template-areas: ". apts-Apartments apts-Apartments .""apts-sq-ft apts-bedrooms apts-bathroom apts-price""apts-description apts-description apts-description apts-reservation""apts-amenity apts-amenity apts-amenity apts-map""apts-apartment-pics apts-apartment-pics apts-apartment-pics .""apts-apartment-pics apts-apartment-pics apts-apartment-pics .""apts-reviews apts-reviews apts-reviews .""apts-review-one apts-review-one apts-review-one .""apts-review-two apts-review-two apts-review-two .""apts-review-three apts-review-three apts-review-three .""apts-bottom-nav-bar-page apts-bottom-nav-bar-page apts-bottom-nav-bar-page .";
}

.apts-Apartments {
    grid-area: apts-Apartments;
    p {
        text-align: center;
        font-family: $poppins;
        font-weight: $regular;
        font-size: 10px;
        color: $darkblue;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    h1 {
        text-align: center;
        font-family: $playfairdisplay;
        font-weight: $bold;
        font-size: 50px;
        color: $darkblue;
    }
}

.apts-sq-ft {
    grid-area: apts-sq-ft;
    align-items: center;
    justify-items: center;
    display: flex;
    background-color: white;
    img,
    p {
        font-family: $poppins;
        font-size: 16px;
        font-weight: $medium;
        color: $darkblue;
    }
    img {
        margin-top: 2px;
        float: left;
        margin-right: 15px;
    }
    p {
        float: left;
    }
}

.apts-bedrooms {
    grid-area: apts-bedrooms;
    align-items: center;
    justify-items: center;
    display: flex;
    background-color: white;
    img,
    p {
        font-family: $poppins;
        font-size: 16px;
        font-weight: $medium;
        color: $darkblue;
    }
    img {
        margin-top: 2px;
        float: left;
        margin-right: 15px;
    }
    p {
        float: left;
    }
}

.apts-bathroom {
    grid-area: apts-bathroom;
    align-items: center;
    justify-items: center;
    display: flex;
    background-color: white;
    img,
    p {
        font-family: $poppins;
        font-size: 16px;
        font-weight: $medium;
        color: $darkblue;
    }
    img {
        margin-top: 2px;
        float: left;
        margin-right: 15px;
    }
    p {
        float: left;
    }
}

.apts-description {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    gap: 1px 1px;
    grid-template-areas: "apts-description-title""apts-description-content";
    grid-area: apts-description;
    padding: 50px 0px;
    h2 {
        font-family: $playfairdisplay;
        font-weight: $bold;
        font-size: 25px;
        color: $darkblue;
    }
    p {
        width: 80%;
        font-family: $poppins;
        font-weight: $regular;
        font-size: 14px;
        color: rgba($darkblue, 0.8);
        padding-bottom: 20px;
    }
}

.apts-description-title {
    grid-area: apts-description-title;
}

.apts-description-content {
    grid-area: apts-description-content;
}

.apts-amenity {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 25%);
    gap: 1px 1px;
    grid-template-areas: ". . ."". . ."". . ."". . .";
    grid-area: apts-amenity;
    padding-top: 20px;
    img,
    p {
        font-family: $poppins;
        font-size: 16px;
        font-weight: $medium;
        color: $darkblue;
    }
    img {
        margin-top: 2px;
        float: left;
        margin-right: 15px;
    }
    p {
        float: left;
    }
}

.apts-apartment-pics {
    padding-top: 40px;
    display: grid;
    // grid-template-columns: ;
    //  grid-template-rows: ;
    gap: 1px 1px;
    grid-template-areas: ".";
    grid-area: apts-apartment-pics;
    position: relative;
    img {
        border-radius: 7px;
        width: 92%;
        height: auto;
    }
    .left-right-chev {
        background-color: $white;
        padding: 85px 35px;
        position: absolute;
        bottom: 50px;
        z-index: 10;
        i {
            color: $grey;
            &:hover {
                color: $darkblue;
                font-size: 20px;
            }
        }
        .horizontal {
            position: absolute;
            display: inline-block;
            width: 20px;
            left: 20px;
            top: 62px;
            transform: rotate(-25deg);
            background-color: #ececec;
        }
    }
    .left-chev-font {
        position: absolute;
        z-index: 1;
        left: 25px;
        top: 0;
        height: 190px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .right-chev-font {
        border: none;
        background: none;
        position: absolute;
        z-index: 2;
        left: 25px;
        top: 0;
        height: 65px;
        cursor: pointer;
    }
}

.apts-reviews {
    grid-area: apts-reviews;
    h2 {
        font-family: $playfairdisplay;
        font-weight: $bold;
        font-size: 25px;
        color: $darkblue;
        padding-bottom: 40px;
    }
    .apts-reviews-grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 33.3%);
        gap: 20px 50px;
        padding-right: 14%;
        grid-template-areas: ". ."". ."". .";
        grid-area: apts-reviews-grid;
        .container-apts-reviews {
            width: 100%;
            background-color: #f4f4f4;
            border-radius: 2px;
        }
        p {
            font-family: $poppins;
            font-weight: $regular;
            font-size: 14px;
            color: $darkblue;
            float: left;
            height: 10px;
            position: relative;
        }
        span {
            font-family: $poppins;
            font-weight: $semi-bold;
            font-size: 14px;
            color: $darkblue;
            float: right;
        }
        .skills {
            text-align: right;
            padding-top: 2px;
            padding-bottom: 2px;
            border-radius: 2px;
            color: white;
        }
        .comfort {
            width: 75%;
            background-color: $orange;
        }
        .food {
            width: 63%;
            background-color: $orange;
        }
        .facili {
            width: 86%;
            background-color: $orange;
        }
        .location {
            width: 58%;
            background-color: $orange;
        }
        .staff {
            width: 92%;
            background-color: $orange;
        }
        .price-qual {
            width: 76%;
            background-color: $orange;
        }
    }
}

.review-one-container {
    border: 1px solid $grey;
    margin: 20px 0px;
    padding: 0px 35px;
    padding-top: 25px;
    padding-bottom: 70px;
    color: $darkblue;
    h4 {
        font-size: 20px;
        font-family: $playfairdisplay;
        font-weight: $bold;
        padding-bottom: 20px;
    }
    p {
        font-size: 13px;
        font-family: $poppins;
        font-weight: $regular;
        line-height: 1.75;
        letter-spacing: 1px;
    }
    .reviews-contact-bot {
        padding-top: 20px;
        i {
            float: left;
            background-color: #f4f4f4;
            color: $grey;
            padding: 15px;
            border-radius: 50%;
            margin-right: 25px;
        }
        .reviews-author {
            float: left;
            p {
                font-weight: $medium;
                letter-spacing: 1px;
            }
            span {
                font-size: 11px;
                font-family: $poppins;
                font-weight: $regular;
                color: $grey;
            }
        }
    }
}

.apts-review-one {
    padding-right: 8%;
    padding-top: 50px;
    grid-area: apts-review-one;
}

.apts-review-two {
    padding-right: 8%;
    padding-top: 100px;
    grid-area: apts-review-two;
}

.apts-review-three {
    padding-right: 8%;
    padding-top: 150px;
    grid-area: apts-review-three;
}

.apts-bottom-nav-bar-page {
    padding-right: 9%;
    padding-top: 250px;
    grid-area: apts-bottom-nav-bar-page;
    font-size: 0;
    vertical-align: middle;
    a {
        .fa-arrow-left {
            float: left;
            text-decoration: none;
            color: $grey;
            background-color: $white;
            border: 1px solid rgba($grey, 0.6);
            border-radius: 50%;
            padding: 10px 12px;
            font-size: 14px;
            display: inline;
            &:hover {
                color: $darkblue;
                box-shadow: 0 0 10px 0 rgba($grey, 0.5);
            }
        }
        .fa-arrow-right {
            float: right;
            text-decoration: none;
            color: $grey;
            background-color: $white;
            border: 1px solid rgba($grey, 0.6);
            border-radius: 50%;
            padding: 10px 12px;
            font-size: 14px;
            display: inline;
            &:hover {
                color: $darkblue;
                box-shadow: 0 0 10px 0 rgba($grey, 0.5);
            }
        }
    }
    ul {
        display: inline;
        margin-left: 300px;
        li {
            list-style: none;
            display: inline-block;
            a {
                color: #72809d;
                text-decoration: none;
                font-family: $poppins;
                font-weight: $regular;
                font-size: 14px;
                margin: 0px 10px;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

.apts-price {
    grid-area: apts-price;
    background-color: #625ef7;
    border-radius: 0px 7px 0px 0px;
    li {
        list-style: none;
    }
    p {
        margin-top: 38px;
        margin-left: 23px;
        font-family: $poppins;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: $regular;
        color: $white;
        text-transform: uppercase;
    }
    h4 {
        font-family: $poppins;
        font-size: 28px;
        font-weight: $semi-bold;
        color: $white;
    }
    span {
        font-family: $poppins;
        font-size: 16px;
        font-weight: $regular;
        color: $white;
    }
    .price-apts-tag {
        h4 {
            float: left;
            margin-right: 23px;
            margin-left: 23px;
        }
        span {
            float: left;
            margin-top: 9px;
        }
    }
}

.apts-reservation {
    border: 1px solid rgba(169, 172, 181, 0.2);
    border-top: 1px solid $white;
    border-radius: 0px 0px 7px 7px;
    grid-area: apts-reservation;
    padding-top: 100px;
    .res-apts {
        padding: 20px;
    }
    p {
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        color: $darkblue;
        font-family: $poppins;
        font-weight: $regular;
    }
}

.apts-map {
    grid-area: apts-map;
    padding-top: 30px;
    iframe {
        border-radius: 7px;
        height: 450px;
        width: 100%;
    }
}