html,
body {
    width: 100%;
    height: 100%;
}

.contact-bg {
    background-color: $white;
}

.content-news {
    padding: 20px 20%;
    @media screen and (max-width: $large) {
        padding: 0 10%;
    }
    h1 {
        margin-top: 155px;
        font-size: 76px;
        color: $darkblue;
        padding-bottom: 0px;
        @media screen and (max-width: $large) {
            font-size: 50px;
        }
        @media screen and (max-width: $small) {
            font-size: 30px;
        }
    }
    p {
        font-size: 17px;
        font-family: $poppins;
        font-weight: $regular;
        color: rgba(44, 63, 88, 0.6);
        margin-top: 25px;
        @media screen and (max-width: $large) {
            font-size: 14px;
        }
        @media screen and (max-width: $small) {
            font-size: 10px;
        }
    }
}

.clicky {
    cursor: pointer;
    font-weight: $semi-bold;
    color: $darkblue;
    font-size: 17px;
    transition: all 0.2s ease 0s;
}

.active,
.clicky:hover {
    color: $orange;
    border-bottom: 2px solid $orange;
}

.news__links {
    padding-top: 40px;
    list-style: none;
    li {
        display: inline-block;
        padding-right: 50px;
        padding-left: 5px;
        @media screen and (max-width: $large) {
            //display: flex;
            //flex-direction: column;
            padding-right: 20px;
        }
        @media screen and (max-width: $small) {
            padding: 0px 3px;
        }
        a {
            @media screen and (max-width: $large) {
                font-size: 14px;
            }
            @media screen and (max-width: $small) {
                font-size: 12px;
            }
        }
    }
    li,
    a {
        font-family: $poppins;
        text-decoration: none;
    }
}

.grid-news {
    min-height: 100%;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: 400px;
    grid-gap: 75px 75px;
    padding: 0px 20%;
    margin-left: auto;
    @media screen and (max-width: $large) {
        grid-template-columns: auto;
        padding: 0px 10%;
        //grid-template-columns: repeat(1, 1fr);
        //grid-template-rows: repeat(12, 5vw);
    }
    .box-news {
        display: none;
        position: relative;
        background-color: rgba($white, 0.8);
        padding: 35px 0;
        font-size: 24px;
        font-family: $playfairdisplay;
        font-weight: $bold;
        color: $darkblue;
        width: 500px;
        height: 360px;
        img {
            width: 100%;
            height: 100%;
        }
        p {
            padding: 20px 6%;
        }
        a {
            h3 {
                background-color: $white;
                position: absolute;
                bottom: 35px;
                left: 0px;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $poppins;
                font-weight: $semi-bold;
                text-align: center;
                font-size: 13px;
                //letter-spacing: 1px;
                width: 50%;
                height: 15%;
                padding: 20px 40px;
                color: $darkblue;
                &:hover {
                    width: 100%;
                    transition: all 0.2s ease 0s;
                    background-color: #f8f8f8;
                }
                span {
                    font-weight: $medium;
                    color: $darkgrey;
                }
            }
        }
    }
}