.contact-bg {
    background-color: $white;
    position: relative;
}

.googlemaps {
    width: 100%;
    height: 650px;
    @media screen and (max-width: $xlarge) {
        height: 450px;
    }
}

.content-contact {
    padding: 30px 15%;
    @media screen and (max-width: $xlarge) {
        padding: 30px 10%;
    }
    @media screen and (max-width: $large) {
        padding: 30px 8%;
    }
    @media screen and (max-width: $small) {
        padding: 10px 5%;
    }
    h1 {
        margin-top: 150px;
        font-size: 76px;
        color: $darkblue;
        @media screen and (max-width: $xlarge) {
            font-size: 56px;
        }
        @media screen and (max-width: $small) {
            font-size: 36px;
            margin-top: 125px;
        }
    }
    ul {
        padding: 75px 0px;
        display: flex;
        flex-flow: row wrap;
        li {
            flex-direction: row;
            list-style: none;
            @media screen and (max-width: $small) {
                width: 100%;
                &+li {
                    margin-top: 20px;
                }
            }
            h2 {
                color: $darkblue;
                font-size: 26px;
                margin-bottom: 25px;
                @media screen and (max-width: $xlarge) {
                    font-size: 20px;
                }
            }
            p {
                font-size: 17px;
                font-family: $poppins;
                font-weight: $regular;
                line-height: 30px;
                color: #72809d;
                @media screen and (max-width: $xlarge) {
                    font-size: 13px;
                }
            }
        }
        .contact-class {
            padding-left: 75px;
            padding-right: 150px;
            @media screen and (max-width: $xlarge) {
                padding-left: 25px;
                padding-right: 50px;
            }
            @media screen and (max-width: $small) {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}