.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 20%;
    @media screen and (max-width: $large) {
        padding: 0 10%;
    }
}

.column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 0%;
    display: none;
    padding-right: 2%;
}

.column img {
    margin-top: 8%;
    vertical-align: middle;
    width: 100%;
}

.noContent {
    color: $white;
    background-color: $darkblue !important;
    pointer-events: none;
    width: 250px;
}

.hover-gallery {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.9) 95%, rgba(0, 0, 0, 1.0) 100%);
    .gallery-img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .hover-gallery-text {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        bottom: 5%;
        left: 5%;
        color: white;
        h3 {
            font-family: $playfairdisplay;
            font-weight: $bold;
            font-size: 17px;
        }
        p {
            margin: 10px 0px;
            font-family: $poppins;
            font-weight: $medium;
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.hover-gallery:hover .gallery-img {
    opacity: 0.6;
}

.hover-gallery:hover .hover-gallery-text {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}