* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homepage-container {
    width: 100%;
    position: relative;
}

.bg-homepage-img {
    max-width: 100%;
    img {
        position: absolute;
        width: 100%;
        background-size: cover;
    }
}

.homepage-header {
    position: relative;
    padding: 0px 20%;
    padding-top: 275px;
    padding-bottom: 200px;
    ;
    @media screen and (max-width: $xlarge) {
        padding: 13% 10%;
    }
    p {
        font-family: $poppins;
        font-weight: $medium;
        font-size: 15px;
        letter-spacing: 3px;
        color: $white;
        text-transform: uppercase;
    }
    h1 {
        padding: 1% 0;
        font-family: $playfairdisplay;
        font-weight: $bold;
        font-size: 70px;
        letter-spacing: 0.5px;
        color: $white;
        @media screen and (max-width: $xxlarge) {
            font-size: 60px;
        }
        @media screen and (max-width: $xlarge) {
            font-size: 50px;
        }
        @media screen and (max-width: $large) {
            font-size: 40px;
        }
        @media screen and (max-width: $small) {
            font-size: 30px;
        }
    }
    .video-box {
        margin: 50px auto;
        span {
            font-family: $poppins;
            font-weight: $semi-bold;
            font-size: 16px;
            color: $white;
        }
        .play-btn {
            width: 50px;
            height: 50px;
            font-size: 8px;
            left: 125px;
            right: 0px;
            bottom: 0px;
            top: -10px;
            position: absolute;
            margin: 0px;
            i {
                &.fa-play {
                    line-height: 50px;
                    margin-left: 2px;
                }
            }
        }
    }
}

#title-homepage-container {
    font-family: $playfairdisplay;
    font-weight: $bold;
    font-size: 30px;
    h1 {
        width: 70%;
        padding: 5px 0px;
        color: $darkblue;
    }
    span {
        color: $darkgrey;
        font-family: $poppins;
        font-weight: $regular;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }
}

.about-homepage {
    position: relative;
    padding: 0px 20%;
    margin-top: 5%;
    background-color: $white;
    @media screen and (max-width: $large) {
        padding: 0px 5%;
    }
}

.some-page-wrapper {
    width: 100%;
    padding: 0% 18.5%;
    position: relative;
    background-color: $white;
    padding-bottom: 200px;
    @media screen and (max-width: $large) {
        padding: 0% 8%;
    }
    .row-hp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .column-hp {
        color: $darkblue;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        font-family: $poppins;
        font-weight: $regular;
        font-size: 14px;
        line-height: 1.5;
        margin: 3%;
    }
    .orange-column {
        height: 75px;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .blue-column {
        height: 75px;
    }
    .green-column {
        height: 400px;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        a {
            position: absolute;
            background-color: $white;
            bottom: -250px;
            right: 0;
            text-decoration: none;
            font-family: $poppins;
            font-weight: $regular;
            font-size: 15px;
            letter-spacing: 1px;
            width: 40%;
            height: 25%;
            padding: 40px 30px;
            color: $darkblue;
            i {
                margin-left: 20px;
            }
            &:hover {
                width: 100%;
                transition: all 0.2s ease 0s;
                background-color: #f8f8f8;
                text-align: center;
            }
        }
    }
}

.orng-book {
    width: 100px;
    height: 50px;
}

.booking-box {
    position: relative;
    background-color: $white;
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 20%;
    padding-right: 0%;
    width: 80%;
    @media screen and (max-width: $xxlarge) {
        padding-left: 10%;
        width: 100%;
    }
    @media screen and (max-width: $xlarge) {
        padding-left: 5%;
    }
    @media screen and (max-width: $large) {
        padding-left: 2%;
    }
    @media screen and (max-width: $small) {
        padding-left: 1%;
    }
    .check-in-out {
        ul {
            .book-now-btn {
                width: 13%;
                height: 10%;
                background-color: $orange;
                padding: 20px;
                span {
                    color: $white;
                }
                a {
                    i {
                        color: $white;
                    }
                }
                p {
                    color: $white;
                    text-transform: uppercase;
                    font-family: $poppins;
                    font-weight: $bold;
                    font-size: 16px;
                }
            }
            li {
                display: inline-block;
                margin-right: 125px;
                @media screen and (max-width: $megalarge) {
                    margin-right: 100px;
                }
                @media screen and (max-width: $xlarge) {
                    margin-right: 90px;
                }
                @media screen and (max-width: $large) {
                    margin-right: 50px;
                }
                @media screen and (max-width: $small) {
                    margin-right: 0px;
                }
                span {
                    color: $darkgrey;
                    font-family: $poppins;
                    font-weight: $regular;
                    font-size: 11px;
                    text-transform: uppercase;
                    @media screen and (max-width: $megalarge) {
                        font-size: 10px;
                    }
                    @media screen and (max-width: $xlarge) {
                        font-size: 9px;
                    }
                    @media screen and (max-width: $large) {
                        font-size: 8px;
                    }
                    @media screen and (max-width: $small) {
                        font-size: 7px;
                    }
                }
                a {
                    text-decoration: none;
                }
                p {
                    text-decoration: none;
                    font-size: 16px;
                    font-family: $poppins;
                    font-weight: $semi-bold;
                    color: $darkblue;
                    @media screen and (max-width: $megalarge) {
                        font-size: 15px;
                    }
                    @media screen and (max-width: $xlarge) {
                        font-size: 14px;
                    }
                    @media screen and (max-width: $large) {
                        font-size: 13px;
                    }
                    @media screen and (max-width: $small) {
                        font-size: 12px;
                    }
                }
                i {
                    color: $darkgrey;
                    margin-left: 13px;
                }
            }
        }
    }
}

.lt-grid-container {
    padding: 3% 20%;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 250px);
    gap: 20px 20px;
    grid-template-areas: "lt-big-pic lt-big-pic lt-top-right""lt-bottom-left lt-bottom-center lt-bottom-right";
    @media screen and (max-width: $xxlarge) {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 200px);
    }
    @media screen and (max-width: $xlarge) {
        padding: 3% 5%;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(2, 150px);
    }
    @media screen and (max-width: $large) {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(2, 100px);
    }
    @media screen and (max-width: $small) {
        grid-template-columns: repeat(2, 175px);
        grid-template-rows: repeat(3, 80px);
    }
}

.lt-big-pic {
    grid-area: lt-big-pic;
}

.lt-bottom-left {
    grid-area: lt-bottom-left;
}

.lt-bottom-center {
    grid-area: lt-bottom-center;
}

.lt-bottom-right {
    grid-area: lt-bottom-right;
}

.lt-top-right {
    grid-area: lt-top-right;
}

.rooms__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.lt-grid-container {
    width: 100%;
    .bottom-left-box {
        position: relative;
        &:hover {
            box-shadow: 15px 15px 15px $darkgrey;
            opacity: 0.6;
        }
        .popular-index {
            position: absolute;
            top: 5%;
            right: 3%;
            border: solid 1px rgba($white, 0.2);
            border-radius: 16px;
            width: 75px;
            height: 25px;
            p {
                color: $white;
                font-family: $poppins;
                font-weight: $semi-bold;
                font-size: 10px;
                padding: 5px 0px;
                text-align: center;
            }
        }
        a {
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 100%;
            color: $white;
            text-decoration: none;
            .big-rooms-box-title-index {
                margin: 4% 5%;
                h3 {
                    font-family: $playfairdisplay;
                    font-weight: 700;
                    font-size: 20px;
                }
                .price-tag-big-box-index {
                    margin-top: 1%;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    p {
                        margin-right: 3%;
                        font-family: "Poppins", sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    span {
                        bottom: 0;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.middle-text-homepage {
    padding: 5% 20%;
    font-family: $playfairdisplay;
    font-weight: $regular;
    color: $darkblue;
    font-size: 24px;
    width: 70%;
}

.stats-and-numbers {
    position: relative;
    background-color: $white;
    padding: 0% 20%;
    padding-bottom: 5%;
    .list-stats {
        ul {
            li {
                display: inline-block;
                margin-right: 100px;
                span {
                    color: $darkgrey;
                    font-family: $poppins;
                    font-weight: $regular;
                    font-size: 11px;
                    text-transform: uppercase;
                }
                p {
                    font-size: 76px;
                    font-family: $playfairdisplay;
                    font-weight: $bold;
                    color: $darkblue;
                }
            }
        }
    }
}

.room-adventure {
    background-color: rgba(244, 244, 244, 0.6);
    padding: 5% 20%;
    .room-adventure-box {
        display: grid;
        align-items: center;
        width: 100%;
        background-color: $orange;
        padding: 50px 60px;
        .left-part-adv {
            grid-column: 1;
            width: 70%;
            h2 {
                font-family: $playfairdisplay;
                font-weight: $bold;
                color: $white;
                font-size: 38px;
                margin-bottom: 20px;
            }
            p {
                font-family: $poppins;
                font-weight: $regular;
                color: $white;
                font-size: 14px;
                line-height: 1.5;
            }
        }
        .right-part-adv {
            grid-column: 2;
            justify-items: center;
        }
    }
}