.container-post {
    padding: 20px 15%;
    @media screen and (max-width: $megalarge) {
        padding: 20px 9%;
    }
    @media screen and (max-width: $xxlarge) {
        padding: 17px 8%;
    }
    @media screen and (max-width: $xlarge) {
        padding: 15px 6%;
    }
    @media screen and (max-width: $large) {
        padding: 13px 3%;
    }
    @media screen and (max-width: $small) {
        padding: 10px 1%;
    }
}

.container-post {
    color: #2c3f58;
}

.small-line-post {
    border-bottom: 1px solid #2c3f58;
    padding: 0px 2%;
    margin: 1% 48%;
}

#top-bottom-post {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 30px;
    h1 {
        padding: 35px 0px;
    }
    span {
        color: #a9acb5;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }
}

.title-post {
    padding: 0px 7%;
    margin-top: 10%;
}

.next-post {
    padding: 0px 25%;
    margin: 4% 0;
    h3 {
        padding: 35px 0px;
    }
    .nxt-orange-btn {
        .fa-arrow-right {
            font-size: 14px;
        }
    }
}

.img-cruise {
    margin: 3% 0;
    width: 100%;
}

.sidebar-social {
    position: absolute;
    top: 160%;
    .list-sidebar-social {
        li {
            list-style: none;
            a {
                text-decoration: none;
                h4 {
                    font-family: 'Poppins', 'sans-serif';
                    font-weight: 400;
                    font-size: 14px;
                    color: #a9acb5;
                    transform: rotate(270deg);
                    transform-origin: 0 0;
                    margin-left: 3%;
                }
                i {
                    margin: 10px 0;
                    font-size: 25px;
                    color: #a9acb5;
                }
            }
            .sharing-line {
                border-left: 1px solid #a9acb5;
                height: 35px;
                margin-left: 24%;
                margin-bottom: 15px;
            }
        }
    }
}

.content-post {
    padding: 0px 7%;
    padding-bottom: 5%;
    line-height: 1.8;
    .bold-text-part {
        color: #2c3f58;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    p {
        padding: 0px 10%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: rgba(44, 63, 88, 0.8);
        br {
            display: block;
            margin: 30px 0;
            content: " ";
        }
    }
    span {
        padding: 0px 10%;
    }
    h3 {
        padding: 0px 10%;
        padding-bottom: 2%;
        font-size: 32px;
    }
    .page-quote {
        padding: 4% 0;
        padding-left: 10%;
        p {
            font-size: 24px;
            font-family: 'Playfair Display', 'sans-serif';
            font-weight: 400;
            border-left: 2px solid #fe5303;
            margin-bottom: 2%;
            padding-left: 3%;
        }
        span {
            font-family: 'Poppins', 'sans-serif';
            font-size: 18px;
            color: #72809d;
            padding: 0;
            padding-left: 3%;
        }
    }
}