.container-rooms {
    padding: 100px 20%;
    @media screen and (max-width: $megalarge) {
        padding: 90px 15%;
    }
    @media screen and (max-width: $xxlarge) {
        padding: 80px 12%;
    }
    @media screen and (max-width: $xlarge) {
        padding: 70px 9%;
    }
    @media screen and (max-width: $large) {
        padding: 50px 5%;
    }
    @media screen and (max-width: $small) {
        padding: 30px 1%;
    }
}

.container-rooms-flex {
    align-items: center;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.title-rooms-page {
    h1 {
        padding: 0% 20%;
        padding-top: 10%;
        font-size: 60px;
        font-family: $playfairdisplay;
        font-weight: $bold;
        color: $darkblue;
        @media screen and (max-width: $megalarge) {
            padding: 0% 15%;
            padding-top: 11%;
        }
        @media screen and (max-width: $xxlarge) {
            padding: 0% 12%;
            padding-top: 12%;
        }
        @media screen and (max-width: $xlarge) {
            padding: 0% 9%;
            padding-top: 13%;
        }
        @media screen and (max-width: $large) {
            padding: 0% 5%;
            padding-top: 14%;
        }
        @media screen and (max-width: $small) {
            padding: 0% 1%;
            padding-top: 22%;
        }
    }
}

.box-rooms-flex {
    width: 31%;
    height: 350px;
    background: $white;
    border-radius: 6px;
    outline: 1px solid $white;
    margin: 1%;
    @media screen and (max-width: $xlarge) {
        width: 45%;
    }
    @media screen and (max-width: $small) {
        width: 100%;
    }
    cursor: pointer;
    .img-wrapper {
        position: relative;
        img {
            width: 100%;
            display: block;
            height: 28vh;
        }
    }
    a {
        position: absolute;
        bottom: 8%;
        left: 5%;
        color: $white;
        text-decoration: none;
        h3 {
            font-family: $playfairdisplay;
            font-weight: $bold;
            font-size: 20px;
        }
        .price-tag {
            margin-top: 5%;
            font-family: $poppins;
            font-weight: 400;
            font-size: 13px;
            display: flex;
            align-items: center;
            p {
                margin-right: 5%;
                font-family: $poppins;
                font-size: 20px;
                font-weight: 600;
            }
            span {
                bottom: 0;
                font-family: $poppins;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    .stats-rooms {
        margin-top: 10px;
        text-align: center;
        font-family: $poppins;
        font-weight: $regular;
        color: $darkblue;
        img {
            margin-right: 10px;
        }
        .bed-icon {
            margin-left: 20px;
        }
    }
}

.rooms-suits-top:hover,
.box-rooms-flex:hover {
    z-index: 1;
    box-shadow: 15px 15px 15px $darkgrey;
}

.rooms-suits-top {
    margin-bottom: 40px;
    .big-img-rooms {
        position: relative;
        img {
            width: 100%;
        }
        .popular {
            position: absolute;
            top: 5%;
            right: 5%;
            border: solid 1px rgba($white, 0.2);
            border-radius: 16px;
            width: 100px;
            height: 33px;
            p {
                color: $white;
                font-family: $poppins;
                font-weight: $semi-bold;
                font-size: 14px;
                padding: 5px 0px;
                text-align: center;
            }
        }
        a {
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 40%;
            color: $darkblue;
            background-color: $white;
            text-decoration: none;
            .big-rooms-box-title {
                margin: 5% 5%;
                h3 {
                    font-family: $playfairdisplay;
                    font-weight: 700;
                    font-size: 35px;
                }
                .price-tag-big-box {
                    margin-top: 3%;
                    font-family: $poppins;
                    font-weight: 400;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    p {
                        margin-right: 10%;
                        font-family: $poppins;
                        font-size: 26px;
                        font-weight: 600;
                    }
                    span {
                        bottom: 0;
                        font-family: $poppins;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}