.darkfooter {
    background-color: $white;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 35px 5%;
    border-top: 1px solid $grey;
    z-index: 99;
    font-weight: $regular;
    @media screen and (max-width: $small) {
        //flex-direction: column;
        padding: 15px 3%;
    }
    .darkfooter-left {
        display: flex;
        flex-direction: row;
        text-align: center;
        .logodarkfooter {
            cursor: pointer;
            @media screen and (max-width: $large) {}
            @media screen and (max-width: $small) {
                display: none;
            }
        }
        .logodarkfooter-mini {
            display: none;
            @media screen and (max-width: $small) {
                display: inline-block;
                width: 10%;
            }
        }
    }
    .darkline-footer {
        border-bottom: 1px solid $darkblue;
        width: 50px;
        margin: 0px 30px;
        margin-bottom: 11px;
    }
    p {
        margin-top: 7px;
        color: $darkblue;
    }
    .darkfooter-social {
        list-style: none;
        li {
            display: inline-block;
            padding: 0px 20px;
            @media screen and (max-width: $large) {
                text-align: center;
            }
            a {
                color: $grey;
                transition: all 0.3s ease 0s;
                font-size: 28px;
                text-decoration: none;
                &:hover {
                    color: $darkblue;
                }
            }
        }
    }
    p {
        font-family: $poppins;
        text-decoration: none;
        color: $darkblue;
        letter-spacing: 1px;
    }
}