.lightheader {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-image: linear-gradient(to top, rgba(170, 178, 179, 0), rgba(42, 43, 48, 1));
    z-index: 99;
    @media screen and (max-width: $small) {
        background-color: $darkblue;
        background-image: none;
    }
    li,
    a {
        font-family: $poppins;
        text-decoration: none;
        color: $white;
    }
    .lightnav__links {
        list-style: none;
        li {
            display: inline-block;
            padding: 0px 20px;
            @media screen and (max-width: $large) {
                text-align: center;
                padding: 0px 5px;
            }
            @media screen and (max-width: $small) {
                padding: 0px 3px;
            }
            a {
                font-weight: $semi-bold;
                color: white;
                transition: all 0.2s ease 0s;
                &:hover {
                    color: $orange;
                    border-bottom: 2px solid $orange;
                }
                @media screen and (max-width: $large) {
                    font-size: 14px;
                }
                @media screen and (max-width: $small) {
                    font-size: 10px;
                    font-weight: $regular;
                }
            }
        }
    }
}

.logolightheader {
    cursor: pointer;
    @media screen and (max-width: $large) {
        width: 10%;
    }
    @media screen and (max-width: $small) {
        display: none;
    }
}

.logolightheader-mini {
    display: none;
    @media screen and (max-width: $small) {
        display: inline-block;
        width: 10%;
    }
}