.lightfooter {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 35px 5%;
    border-top: 1px solid $white;
    z-index: 99;
    font-weight: $regular;
    @media screen and (max-width: $small) {
        //flex-direction: column;
        background-color: $darkblue;
        padding: 15px 3%;
    }
    .lightfooter-left {
        display: flex;
        flex-direction: row;
        text-align: center;
        .logolightfooter {
            cursor: pointer;
            @media screen and (max-width: $large) {}
            @media screen and (max-width: $small) {
                display: none;
            }
        }
        .logolightfooter-mini {
            display: none;
            @media screen and (max-width: $small) {
                display: inline-block;
                width: 10%;
            }
        }
    }
    .lightline-footer {
        border-bottom: 1px solid $white;
        width: 50px;
        margin: 0px 30px;
        margin-bottom: 11px;
        @media screen and (max-width: $small) {}
    }
    p {
        margin-top: 7px;
        @media screen and (max-width: $small) {}
    }
    .lightfooter-social {
        list-style: none;
        @media screen and (max-width: $small) {
            text-align: left;
            overflow: hidden;
        }
        li {
            display: inline-block;
            padding: 0px 20px;
            @media screen and (max-width: $small) {
                float: right;
            }
            a {
                color: $white;
                transition: all 0.3s ease 0s;
                font-size: 28px;
                text-decoration: none;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
    p {
        font-family: $poppins;
        text-decoration: none;
        color: $white;
        letter-spacing: 1px;
    }
}