.orange-btn {
    padding: 13px 35px;
    background-color: $orange;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 16px 48px 0 rgba($orange, 0.16);
    font-size: 16px;
    font-family: $poppins;
    text-decoration: none;
    color: $white;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        background-color: rgba($orange, 0.8);
    }
    @media screen and (max-width: $large) {
        padding: 7px 14px;
        font-size: 8px;
        letter-spacing: 0px;
    }
}

.orange-btn-apts {
    padding: 12px 35px;
    background-color: $orange;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: all 0.3s ease 0s;
    box-shadow: 0 16px 48px 0 rgba($orange, 0.16);
    font-size: 14px;
    width: 90%;
    font-family: $poppins;
    text-decoration: none;
    color: $white;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        background-color: rgba($orange, 0.8);
    }
    @media screen and (max-width: $large) {
        padding: 7px 14px;
        font-size: 8px;
        letter-spacing: 0px;
    }
}

.white-res-btn {
    padding: 13px 35px;
    background-color: $white;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 16px 48px 0 rgba($white, 0.16);
    font-size: 16px;
    font-family: $poppins;
    text-decoration: none;
    color: $orange;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        background-color: rgba($white, 0.8);
    }
    @media screen and (max-width: $large) {
        padding: 7px 14px;
        font-size: 8px;
        letter-spacing: 0px;
    }
}

.darkreserv,
.lightreserv {
    i {
        margin-right: 8px;
    }
}

.darkreserv,
.lightreserv {
    @media screen and (max-width: $small) {
        display: none;
        border-radius: 5%;
    }
}

.darkreserv-small,
.lightreserv-small {
    display: none;
    @media screen and (max-width: $small) {
        display: inline-block;
    }
}

.nxt-orange-btn {
    height: 50px;
    width: 50px;
    background-color: $orange;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 16px 48px 0 rgba($orange, 0.16);
    font-family: $poppins;
    text-decoration: none;
    color: $white;
    letter-spacing: 1px;
    &:hover {
        background-color: rgba($orange, 0.8);
    }
}

.homepage-btn {
    padding: 13px 35px;
    border: 1px solid $white;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 16px;
    font-family: $poppins;
    text-decoration: none;
    color: $white;
    letter-spacing: 1px;
    background-color: rgba($white, 0.5);
    &:hover {
        background-color: rgba(42, 43, 48, 0.9);
    }
    @media screen and (max-width: $large) {
        padding: 8px 16px;
        font-size: 12px;
        letter-spacing: 0px;
    }
}

#loadMore {
    padding: 13px 35px;
    background-color: $orange;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 16px 48px 0 rgba($orange, 0.16);
    font-family: $poppins;
    text-decoration: none;
    text-align: center;
    color: $white;
    display: block;
    width: 175px;
    margin: 75px auto;
    letter-spacing: 1px;
    &:hover {
        background-color: rgba($orange, 0.8);
    }
}

.video-box {
    width: 100%;
    margin: 100px auto;
    position: relative;
    video {
        width: 100%;
    }
    .play-btn {
        background-color: $white;
        color: $darkblue;
        font-size: 25px;
        width: 150px;
        height: 150px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        position: absolute;
        margin: auto;
        text-align: center;
        border-radius: 50%;
        i {
            &.fa-play {
                line-height: 150px;
                margin-left: 10px;
            }
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            border: 2px solid $white;
            border-radius: 50%;
            left: -20px;
            right: -20px;
            top: -20px;
            bottom: -20px;
            animation-name: animate;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            opacity: 0;
        }
        &::after {
            animation-delay: 0.5s;
        }
        @keyframes animate {
            0% {
                transform: scale(.5);
            }
            50% {
                opacity: 1;
            }
            100% {
                transform: scale(1.5);
            }
        }
    }
}